body{
  background-color: #EDEDED;
}

.borderless.ui.acc.menu{
  box-shadow: none;
  border: none;
  background-color: #EDEDED;
}

.borderless.ui.nav.menu{
  box-shadow: none;
  border: none;
  background-color: #EDEDED;
}

.ui.circular.blue.button{
  background-color: #125085;
}

.compact.ui.circular.long.blue.button{
  width: 300px;
}

.ui.fluid.image img{
  height: 500px;
}


.mid{
  filter: brightness(50%);
}

.text-over-image{
  color: white;
  font-weight: bold;
  font-size: 52px;
}

.over-image{
  position: absolute;
  bottom: 50px;
  opacity: 100%;
}

.ui.left.floated.image{
  height: 100px;
}
.ui.centered.grid.container{
  margin: 10px;
}

.ui.blue.button{
  padding: 10px 15px;
  color: white;
  background: #0065B3;
}