body{
  background-color: #EDEDED;
}

.ui.left.floated.nav.image{
  height: 35px;
}

.ui.dropdown{
  font-size: 16px;
  font-weight: 600;
  margin-top: 9px;
  color: #4D4D4D;
  font-family: "Roboto", sans-serif;
}

.search.icon{
  margin-top: 9px;
}

.ui.menu .item{
  color: #4D4D4D;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

.borderless.ui.acc.menu{
  box-shadow: none;
  border: none;
  background-color: #EDEDED;
  margin-right: 20px;
}

.ui.circular.blue.button{
  background-color: #125085;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 200;
  font-size: 16px;
}

.search.icon{
  color: #4D4D4D;
}

.ui.fluid.image img{
  height: 510px;
}


.mid{
  filter: brightness(50%);
}

.text-over-image{
  color: white;
  font-weight: bold;
  font-size: 52px;
}

.over-image{
  position: absolute;
  bottom: 120px;
  opacity: 100%;
}

.ui.left.floated.image{
  height: 100px;
}
.ui.centered.grid.container{
  margin: 10px;
}

.ui.blue.button{
  padding: 10px 15px;
  color: white;
  background: #0065B3;
}

.ui.floated.left.world.image{
  margin-top: 20px;
}