body{
  background-color: #EDEDED;
}

.ui.menu .item{
  font-weight: 600;
  font-family: Roboto, sans-serif;
  color: #4D4D4D;
  font-size: 14px;
}

.borderless.ui.acc.menu{
  box-shadow: none;
  border: none;
  background-color: #EDEDED;
}

.borderless.ui.nav.menu{
  box-shadow: none;
  border: none;
  background-color: #EDEDED;
  font-size: 16px;
}

.ui.circular.blue.button{
  background-color: #125085;
}

.compact.ui.circular.long.blue.button{
  width: 300px;
}

.ui.fluid.image img{
  height: 500px;
}


.mid{
  filter: brightness(50%);
}

.text-over-image{
  color: white;
  font-weight: bold;
  font-size: 52px;
  letter-spacing: 2px;
  font-family: "Helvetica Neue", sans-serif;
}

.over-image{
  position: absolute;
  bottom: 100px;
  opacity: 100%;
}

.ui.left.floated.image{
  height: 100px;
}
.ui.centered.grid.container{
  margin: 5px;
}

.bottom-message{
  font-family: "Helvetica", serif;
}

.ui.blue.button{
  padding: 10px 15px;
  color: white;
  background: #0065B3;
}
