body{
  background-color: #EDEDED;
}

.borderless.ui.acc.menu{
  box-shadow: none;
  border: none;
  background-color: #EDEDED;
}

.borderless.ui.nav.menu{
  box-shadow: none;
  border: none;
  background-color: #EDEDED;
}

.ui.circular.blue.button{
  background-color: #125085;
}

.compact.ui.circular.long.blue.button{
  width: 300px;
}